<Wix xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="EvoComms" Manufacturer="Clocking Systems" Version="0.9.0.0"
             UpgradeCode="D55E922A-8235-44F1-8B65-C5B91C5DFA77">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)"/>
        <MediaTemplate EmbedCab="yes"/>
        <Feature Id="Main">
            <ComponentGroupRef Id="EvoCommsComponents"/>
            <ComponentGroupRef Id="Shortcuts"/>
            <ComponentGroupRef Id="WindowsService"/>
            <ComponentGroupRef Id="FirewallRules"/>
            <ComponentRef Id="SettingsFolderPermissions"/>
            <ComponentRef Id="DataFolderPermissions"/>
            <ComponentRef Id="DatabaseFile"/>
            <ComponentRef Id="LogsFolderPermissions"/>
            <ComponentRef Id="HttpsSetup"/>
        </Feature>

        <!-- Add WixUI dialog set -->
        <ui:WixUI Id="WixUI_Minimal"/>
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>

        <!-- Component for setting folder permissions -->
        <Component Id="SettingsFolderPermissions" Directory="SettingsFolder"
                   Guid="0822BA9B-99F1-4F9F-8191-9DDD6685B261" Permanent="no">
            <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_NETWORKSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes"/>
            </CreateFolder>
            <RemoveFolder On="uninstall"/>
        </Component>

        <!-- Component for setting Data folder permissions -->
        <Component Id="DataFolderPermissions" Directory="DataFolder"
                   Guid="17D64928-4DBA-4829-8A08-A0567684ADB6" Permanent="no">
            <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_NETWORKSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes"/>
            </CreateFolder>
            <RemoveFolder On="uninstall"/>
        </Component>

        <Component Id="HttpsSetup"
                   Directory="CertFolder"
                   Guid="7C7BE23D-17A2-45F8-8CDD-6D8EC9F4D775">
            <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_NETWORKSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes"/>
            </CreateFolder>

        </Component>
        <CustomAction Id="InstallHttpsCert"
                      FileRef="EvoCommsServiceEXE"
                      ExeCommand="--install-cert"
                      Execute="deferred"
                      Impersonate="no"
                      Return="check"/>
        <InstallExecuteSequence>
            <Custom Action="InstallHttpsCert" After="InstallFiles"/>
        </InstallExecuteSequence>

        <Component Id="LogsFolderPermissions" Directory="LogsFolder"
                   Guid="2DD6AC0E-D84E-48D4-B3ED-FE80255C863E">
            <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_NETWORKSERVICE]" GenericAll="yes"/>
                <util:PermissionEx User="[WIX_ACCOUNT_LOCALSYSTEM]" GenericAll="yes"/>
            </CreateFolder>
        </Component>
    </Package>


    <Fragment>
        <ComponentGroup Id="EvoCommsComponents" Directory="INSTALLFOLDER">
            <Files Include="$(var.PublishedOutputPath)**">
                <Exclude Files="$(var.PublishedOutputPath)Data\**"/>
                <Exclude Files="$(var.PublishedOutputPath)EvoComms.Web.App.exe"/>
                <Exclude Files="$(var.PublishedOutputPath)Settings\**"/>
                <Exclude Files="$(var.PublishedOutputPath)package-lock.json"/>
                <Exclude Files="$(var.PublishedOutputPath)package.json"/>
            </Files>

        </ComponentGroup>
    </Fragment>
</Wix>