<footer class="mt-auto h-[92px] sm:h-[64px] absolute bottom-0 inset-x-0 bg-white border-t border-gray-200">
  <div class="w-full max-w-5xl py-6 mx-auto px-4 sm:px-6 lg:px-8">
    <!-- List -->
    <ul class="flex flex-wrap justify-center items-center whitespace-nowrap gap-3">
      <li class="inline-flex items-center relative text-xs text-gray-500 pe-3.5 last:pe-0 last:after:hidden after:absolute after:top-1/2 after:end-0 after:inline-block after:size-[3px] after:bg-gray-400 after:rounded-full after:-translate-y-1/2">
        <a class="text-xs text-gray-500 underline-offset-4 hover:underline hover:text-gray-800 focus:outline-none focus:underline focus:text-gray-800" href="#">
          Docs
        </a>
      </li>
      <li class="inline-flex items-center relative text-xs text-gray-500 pe-3.5 last:pe-0 last:after:hidden after:absolute after:top-1/2 after:end-0 after:inline-block after:size-[3px] after:bg-gray-400 after:rounded-full after:-translate-y-1/2">
        <a class="text-xs text-gray-500 underline-offset-4 hover:underline hover:text-gray-800 focus:outline-none focus:underline focus:text-gray-800" href="#">
          Contact
        </a>
      </li>
      
    </ul>
    <!-- End List -->
  </div>
</footer>